name: main

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v1
        with:
          go-version: '1.14'

      - uses: actions/checkout@v2

      - name: Install Tools
        run: |
          curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s -- -b $(go env GOPATH)/bin v1.24.0

      - name: Generate
        run: |
          go generate ./...
          git diff --exit-code

      - name: Build
        run: go build ./...

      - name: Test
        run: go test ./...

      - name: Lint
        run: $(go env GOPATH)/bin/golangci-lint run

  release:
    runs-on: ubuntu-latest
    needs: test
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/setup-go@v1
        with:
          go-version: '1.14'

      - uses: actions/checkout@v2

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          sudo snap install goreleaser --classic
          goreleaser release
